#bulb
{
    padding: 50px;
    border:1px solid black;
    border-radius: 50%;
    width: fit-content;
}
button
{
    margin: 10px;
}

#SmartBulb {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.on {
  background-color: yellow;
}

#Rainbow
{
  margin-left: 50px;
   height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
   font-weight: bold;
}

#c
{
  margin-top: 30px;
   margin-bottom: 80px;
   margin-left: 50px;
  display: flex;
  gap: 30px;
  
  
}

.colour
{
  border: 1px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  

}