#btn
{
    width: 200px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;

    #a
    {
        display: inline;
    }

    #b
    {
        display: none;
    }
}

#btn:hover
{
    #a
    {
        display: none;
    }

    #b
    {
        display: inline;
    }

}
#d1,#d2,#s1,#s2
{
    border: 1px solid black;
}

#d1,#d2
{
    height: 100px;
    width: 400px;
    display: inline block;
}
#s1,#s2
{
   height: 100px;
    width: 100px; 
    
}
