header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
body {
  margin-top: 10vh;
}
header a:hover {
  color: black !important;
}

/* .card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
  background-color: lightskyblue !important;
} */