* {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 50px;
}

body {
  background-color: #ffc09f;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: crimson;
  background-color: bisque;
}

#resetbtn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(110, 77, 37);
  color: rgb(243, 97, 6);
  border-radius: 1rem;
  border: none;
  margin-bottom: 2rem;
}

#newbtn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(110, 77, 37);
  color: rgb(243, 97, 6);
  border-radius: 1rem;
  border: none;
}

#msg {
  color: green;
  font-size: 6vmin;
}

.msgCont {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
