/* #head{
  color: red;
  text-align: center;
  background-color: yellow;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  border: 2px solid green;
}

body{
  background-color: rgb(13, 216, 101) !important;
} */