*{
    margin: 0;
    padding: 0;
}
.Navbar
{
    border: 1px solid black;
    background-color: blue;
    color: aliceblue;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky ;
    top: 0px;
}

#link{
    display: flex;
    gap: 20px;
}

#but1
{
    padding: 10px 20px;
    background-color: green;
    border-radius: 15px;
    position: fixed;
    bottom: 10px;
    right: 20px;

}