* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 5rem;
  font-size: 2rem;
  width: 100%;
  height: 3rem;
  color: blueviolet;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: burlywood;
  font-size: 1.5rem;
}

.container {
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 60vh;
  width: 55vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  margin-top: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.selectCont img {
  max-width: 3rem;
}

.selectCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.dropdown i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 1.25rem;
}

.selectCont select {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
  color: green;
  font-weight: bolder;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
