h1
{
    width: 200px;
    border: 3px solid red;
   /* margin-left: 200px; */



}

h1:hover
{
    /* margin-left: 200px;
    transition: margin-left 5s; */
    width: 400px;
    transition: width 10s;
}

#tab
{
    height: 50px;
    width: 500px;
    border: 1px solid black;
    
    #tb
    {
    height: 50px; 
    width: 0%;
    background-color: red;
    }
}
#tab:hover
{
    #tb
    {
    width: 500px;
    background-color: green;
    transition: width 10s ease-in-out, background-color 10s ease-in-out;
     }
}

#tab1
{
    margin-top: 30px;
    height: 50px;
    width: 500px;
    border: 1px solid black;
    
    #tb1
    {
    height: 50px; 
    }
}
#tab1:hover
{
    #tb1
    {
    animation: myAnimantion 10s linear ;
    }
}

@keyframes myAnimantion 
{
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: yellow;
    }
    100%{
        width: 100%;
        background-color: green;
    }
}

