.btn
{
    background-color: aliceblue;
    height: 60px;
    width: 60px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.allbuttons
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    
    
}

#equ
{
  width: 270px !important;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 5px 10px;
  margin-left: 10px;
  
}