#d1
{
    border: 2px solid black;
    width: 280px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    margin: 30px;
    background-color: lightgoldenrodyellow;
}
#d1 span
{
     background: linear-gradient(120deg, red 30%,green 50%,blue 40%,yellow 80%);
    background-clip: text;
   color: transparent;
   -webkit-text-stroke: 0.5px rgb(239, 15, 15);
}

#d2
{
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 40px;
    background-color: rgb(33, 176, 64);
   margin-left: 0 0 0 50px;
   padding: 10px 20px 30px 40px ;
    box-shadow: 3px 3px 5px 2px rgb(228, 6, 51) ;
}